<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ghost</key>
	<dict>
		<key>name</key>
		<string>幽灵</string>
		<key>desc</key>
		<string>被惊扰的孤魂野鬼，看上去不怎么厉害</string>
		<key>mhp</key>
		<integer>20</integer>
		<key>hp</key>
		<integer>20</integer>
		<key>speed</key>
		<integer>20</integer>
		<key>money</key>
		<integer>35</integer>
		<key>defaultImage</key>
		<string>ghostDown_2.png</string>
		<key>animationLeft</key>
		<string>ghostLeft</string>
		<key>animationRight</key>
		<string>ghostRight</string>
		<key>animationUp</key>
		<string>ghostUp</string>
		<key>animationDown</key>
		<string>ghostDown</string>
		<key>animationExplode</key>
		<string>ghostExplode</string>
	</dict>
	<key>slime</key>
	<dict>
		<key>name</key>
		<string>史莱姆</string>
		<key>desc</key>
		<string>黏糊糊的果冻一样的怪物</string>
		<key>mhp</key>
		<integer>15</integer>
		<key>hp</key>
		<integer>15</integer>
		<key>speed</key>
		<integer>20</integer>
		<key>money</key>
		<integer>25</integer>
		<key>defaultImage</key>
		<string>slimeDown_2.png</string>
		<key>animationLeft</key>
		<string>slimeLeft</string>
		<key>animationRight</key>
		<string>slimeRight</string>
		<key>animationUp</key>
		<string>slimeUp</string>
		<key>animationDown</key>
		<string>slimeDown</string>
		<key>animationExplode</key>
		<string>slimeDown</string>
	</dict>
</dict>
</plist>
