<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelInfo</key>
	<dict>
		<key>money</key>
		<integer>400</integer>
		<key>curLevel</key>
		<string>levelInfo_0.plist</string>
		<key>nextLevel</key>
		<string>levelInfo_0.plist</string>
		<key>levelDesc</key>
		<string>第1关：测试</string>
		<key>group</key>
		<dict>
			<key>1</key>
			<dict>
				<key>type1Num</key>
				<integer>3</integer>
				<key>type1Hp</key>
				<integer>100</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>type1Num</key>
				<integer>2</integer>
				<key>type1Hp</key>
				<integer>100</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>type1Num</key>
				<integer>2</integer>
				<key>type1Hp</key>
				<integer>100</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>type1Num</key>
				<integer>5</integer>
				<key>type1Hp</key>
				<integer>100</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>type1Num</key>
				<integer>10</integer>
				<key>type1Hp</key>
				<integer>100</integer>
			</dict>
		</dict>
	</dict>
	<key>resources</key>
	<dict>
		<key>map</key>
		<string>test.tmx</string>
	</dict>
</dict>
</plist>
