<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelInfo</key>
	<dict>
		<key>money</key>
		<integer>100</integer>
		<key>curLevel</key>
		<string>levelInfo_0.plist</string>
		<key>nextLevel</key>
		<string>levelInfo_1.plist</string>
		<key>levelDesc</key>
		<string>序章：迷途</string>
		<key>group</key>
		<dict>
			<key>1</key>
			<dict>
				<key>1</key>
				<dict>
					<key>typeNum</key>
					<integer>5</integer>
					<key>typeName</key>
					<string>ghost</string>
				</dict>
				<key>2</key>
				<dict>
					<key>typeNum</key>
					<integer>5</integer>
					<key>typeName</key>
					<string>slime</string>
				</dict>
			</dict>
			<key>2</key>
			<dict>
				<key>1</key>
				<dict>
					<key>typeNum</key>
					<integer>5</integer>
					<key>typeName</key>
					<string>slime</string>
				</dict>
				<key>2</key>
				<dict>
					<key>typeNum</key>
					<integer>10</integer>
					<key>typeName</key>
					<string>ghost</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>resources</key>
	<dict>
		<key>map</key>
		<string>level_0.tmx</string>
		<key>bgm</key>
		<string>sound/battle_1.mp3</string>
	</dict>
</dict>
</plist>
