<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,139},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>backOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,139},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,101},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>btnBackOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>btnDestroy.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,101},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btnDestroyOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,101},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btnNext.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,67},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>btnNextOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,67},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>btnStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,67},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>btnStartOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,101},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>btnUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btnUpgradeOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,101},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,332},{111,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,116}}</string>
                <key>sourceSize</key>
                <string>{111,116}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,332},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ghostDown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>ghostDown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,67},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>ghostDown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,67},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>ghostExplode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,67},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ghostExplode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>ghostExplode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,67},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>ghostLeft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>ghostLeft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,101},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>ghostLeft_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,34},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>ghostRight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>ghostRight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,101},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>ghostRight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,34},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>ghostUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>ghostUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,34},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>ghostUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,10}}</string>
                <key>sourceSize</key>
                <string>{72,10}</string>
            </dict>
            <key>hpBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>knightBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,139},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>knightDown1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,67},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>knightDown1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,101},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>knightDown1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,67},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>knightDown2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,139},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>knightDown2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,202},{29,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>knightDown2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,139},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>knightLeft1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>knightLeft1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,101},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>knightLeft1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,34},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>knightLeft2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,202},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>knightLeft2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,202},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>knightLeft2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,139},{35,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,61}}</string>
                <key>sourceSize</key>
                <string>{35,61}</string>
            </dict>
            <key>knightRight1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>knightRight1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,101},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>knightRight1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,34},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>knightRight2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>knightRight2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,202},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>knightRight2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,202},{35,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,61}}</string>
                <key>sourceSize</key>
                <string>{35,61}</string>
            </dict>
            <key>knightUp1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,34},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>knightUp1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,101},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>knightUp1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,34},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>knightUp2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{33,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,62}}</string>
                <key>sourceSize</key>
                <string>{33,62}</string>
            </dict>
            <key>knightUp2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,202},{29,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>knightUp2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,202},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,101},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pageMarker.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>pageMarkerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>playerHp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,10}}</string>
                <key>sourceSize</key>
                <string>{72,10}</string>
            </dict>
            <key>slimeDown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>slimeDown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>slimeDown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>slimeLeft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>slimeLeft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>slimeLeft_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>slimeRight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>slimeRight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>slimeRight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>slimeUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>slimeUp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
            <key>slimeUp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>soldierBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,139},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>soldierDown1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierDown1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierDown1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierDown2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,139},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>soldierDown2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,139},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>soldierDown2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,139},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>soldierLeft1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierLeft1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierLeft1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierLeft2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,202},{23,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,61}}</string>
                <key>sourceSize</key>
                <string>{23,61}</string>
            </dict>
            <key>soldierLeft2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,202},{25,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,61}}</string>
                <key>sourceSize</key>
                <string>{25,61}</string>
            </dict>
            <key>soldierLeft2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,139},{22,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,61}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>soldierRight1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierRight1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierRight1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,67},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierRight2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,139},{23,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,61}}</string>
                <key>sourceSize</key>
                <string>{23,61}</string>
            </dict>
            <key>soldierRight2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,139},{25,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,61}}</string>
                <key>sourceSize</key>
                <string>{25,61}</string>
            </dict>
            <key>soldierRight2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,139},{23,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,59}}</string>
                <key>sourceSize</key>
                <string>{23,59}</string>
            </dict>
            <key>soldierUp1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,67},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierUp1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,67},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierUp1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,34},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>soldierUp2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,139},{32,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>soldierUp2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,139},{30,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,59}}</string>
                <key>sourceSize</key>
                <string>{30,59}</string>
            </dict>
            <key>soldierUp2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,139},{32,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,59}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>toolbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>towerPos.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Play.png</string>
            <key>size</key>
            <string>{644,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb607b887894974c42dae1389e14586f:046f9e36df3f816eab89237ec471e1a2:bee78d6310e05e66f5ba715ce0088f56$</string>
            <key>textureFileName</key>
            <string>Play.png</string>
        </dict>
    </dict>
</plist>
