<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>soldier</key>
	<dict>
		<key>lv</key>
		<integer>1</integer>
		<key>maxLv</key>
		<integer>3</integer>
		<key>defaultImage</key>
		<string>soldierDown1_2.png</string>
		<key>attackType</key>
		<string>near</string>
		<key>bulletImage</key>
		<string>bullet_2.png</string>
		<key>lv1Info</key>
		<dict>
			<key>range</key>
			<integer>50</integer>
			<key>power</key>
			<integer>5</integer>
			<key>rate</key>
			<integer>1</integer>
			<key>price</key>
			<integer>50</integer>
			<key>animationLeft</key>
			<string>soldierLeft1</string>
			<key>animationRight</key>
			<string>soldierRight1</string>
			<key>animationUp</key>
			<string>soldierUp1</string>
			<key>animationDown</key>
			<string>soldierDown1</string>
		</dict>
		<key>lv2Info</key>
		<dict>
			<key>range</key>
			<integer>60</integer>
			<key>power</key>
			<integer>15</integer>
			<key>rate</key>
			<integer>2</integer>
			<key>price</key>
			<integer>50</integer>
			<key>animationLeft</key>
			<string>soldierLeft2</string>
			<key>animationRight</key>
			<string>soldierRight2</string>
			<key>animationUp</key>
			<string>soldierUp2</string>
			<key>animationDown</key>
			<string>soldierDown2</string>
		</dict>
		<key>lv3Info</key>
		<dict>
			<key>range</key>
			<integer>70</integer>
			<key>power</key>
			<integer>30</integer>
			<key>rate</key>
			<integer>2</integer>
			<key>price</key>
			<integer>50</integer>
			<key>animationLeft</key>
			<string>soldierLeft1</string>
			<key>animationRight</key>
			<string>soldierRight1</string>
			<key>animationUp</key>
			<string>soldierUp1</string>
			<key>animationDown</key>
			<string>soldierDown1</string>
		</dict>
	</dict>
	<key>knight</key>
	<dict>
		<key>lv</key>
		<integer>1</integer>
		<key>maxLv</key>
		<integer>3</integer>
		<key>defaultImage</key>
		<string>knightDown1_2.png</string>
		<key>attackType</key>
		<string>far</string>
		<key>bulletImage</key>
		<string>bullet_1.png</string>
		<key>lv1Info</key>
		<dict>
			<key>range</key>
			<integer>50</integer>
			<key>power</key>
			<integer>5</integer>
			<key>rate</key>
			<integer>1</integer>
			<key>price</key>
			<integer>50</integer>
			<key>animationLeft</key>
			<string>knightLeft1</string>
			<key>animationRight</key>
			<string>knightRight1</string>
			<key>animationUp</key>
			<string>knightUp1</string>
			<key>animationDown</key>
			<string>knightDown1</string>
		</dict>
		<key>lv2Info</key>
		<dict>
			<key>range</key>
			<integer>60</integer>
			<key>power</key>
			<integer>15</integer>
			<key>rate</key>
			<integer>2</integer>
			<key>price</key>
			<integer>50</integer>
			<key>animationLeft</key>
			<string>knightLeft2</string>
			<key>animationRight</key>
			<string>knightRight2</string>
			<key>animationUp</key>
			<string>knightUp2</string>
			<key>animationDown</key>
			<string>knightDown2</string>
		</dict>
		<key>lv3Info</key>
		<dict>
			<key>range</key>
			<integer>70</integer>
			<key>power</key>
			<integer>30</integer>
			<key>rate</key>
			<integer>2</integer>
			<key>price</key>
			<integer>50</integer>
			<key>animationLeft</key>
			<string>knightLeft1</string>
			<key>animationRight</key>
			<string>knightRight1</string>
			<key>animationUp</key>
			<string>knightUp1</string>
			<key>animationDown</key>
			<string>knightDown1</string>
		</dict>
	</dict>
</dict>
</plist>
